<div>
  <h3 class="section-heading text-muted">member</h3>
</div>
<div class="col-sm-12">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="team-member">
      <img src="<%= image_path 'team/cpro.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">이성준</h4>
      <h5 class="member-name">운영진</p>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <img src="<%= image_path 'danah.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">김단아</h4>
      <h5 class="member-name">운영진</p>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <img src="<%= image_path 'team/mem_a.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">강지승</h4>
      <h5 class="member-name">운영진</p>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <img src="<%= image_path 'team/mem_b.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <a href="http://hufs.likelion.org/kijung"><h4 class="member-name">김기중</h4>
      <h5 class="member-name">운영진</p></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <img src="<%= image_path 'prog.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">장윤서</h4>
      <h5 class="member-name">운영진</p>
      </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="col-sm-12">
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/kuku"><img src="<%= image_path 'team/kuja.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">구자룡</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/eunjin"><img src="<%= image_path 'team/apro.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">김은진</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/hbkim"><img src="<%= image_path 'team/apro.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">김혜빈</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/sangwon"><img src="<%= image_path 'team/sangwon.JPG' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">박상원</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/hyunwoo"><img src="<%= image_path 'team/apro.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">박현우</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/seungyun"><img src="<%= image_path 'team/seungyun.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">신승윤</h4></a>
      </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/leeseul"><img src="<%= image_path 'team/leeseul.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">이슬</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/seokwon"><img src="<%= image_path 'team/Profile_picture.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">함석원</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/Teuno"><img src="<%= image_path 'team/apro.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">이태훈</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/inkun"><img src="<%= image_path 'team/inkun_1.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt=""></a>
      <h4 class="member-name">인건</h4></a>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="team-member">
      <a href="http://hufs.likelion.org/hyojin"><img src="<%= image_path 'team/apro.jpg' %>" class="my-image img-responsive img-circle bg-light-gray" alt="">
      <h4 class="member-name">최효진</h4></a>
      </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<h3 class="section-heading text-muted text-right"><a href="http://member.hufslion.info/before">이전 기수</a></h3>